# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BrowserDownload\Disp41rDAO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
